@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.about-main {
    position: relative;
    height: 100vh;
    background-color: black;
    background-size: cover;
    overflow-x: hidden;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    text-align: left;
    font-weight: lighter;
    letter-spacing: 1px;
    /* Remove top positioning */
}

.oceanPic {
    height: 350px;
    border-radius: 10%;
    margin-top: 20px; /* Add space between text and image */
    max-width: 100%; /* Ensure the image does not exceed the container width */
}

