@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.nav-container {
    position: absolute;
    bottom: 5%;
    color: white;
    z-index: 3;
}
.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30%;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 0;
    width: 90vw;
   


}
.nav-container ul a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

    transition: all 0.2s ease-in-out;
    padding-left: 5px;
    
}

.nav-container ul a:hover {
    background-color: rgb(11, 217, 131);
    color: black;
    cursor: crosshair;
    /* transform: scale(1.2); */
    /* padding-left: 5px; */
}