.modal-container {
    top:0;
    bottom: 0;
    position: absolute;
    margin-top: auto; 
    margin-bottom: auto; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.970);
    color: white;
    z-index: 3;
}

.title {
  padding-bottom: 3%;
  /* padding-top: 5%; */
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: left;
   margin: auto;
   height: 80vh;
   width: 95vw;
   top: 5%;
   overflow-y: auto; /* Enable vertical scrolling */

}

.btn {
  top: 3%;
  position: relative;
  left: 95%;
  height: 30px;
  width: 30px;

}

.btn:hover {
  cursor: pointer;
}

.txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
}

.wealthroneImg {
  /* border-radius: 5%; */
  height: 20%;
}


.mainText {
  padding-top: 3%;
  width: 60vw;
}


@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
        

/* Parent background */
#F5F5FA

.btn-container .btn:hover {
    cursor: pointer;
}

.txt {
    position: relative;
    top: 5%;
    left: 0;
}

.txt .title {
    position: relative;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
