.modal-container {
    top:0;
    bottom: 0;
    position: absolute;
    margin-top: auto; 
    margin-bottom: auto; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 95vw;
    height: 80vh;
    background-color: rgba(179, 178, 174, 0.979);
    color: black;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
   margin: auto;
   height: 80vh;
   top: 3%;
}

.btn-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: right;
    right: 5%;
}

.btn-container .btn {
    
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.btn-container .btn {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
        

/* Parent background */
#F5F5FA
}
.btn-container .btn:hover {
    cursor: pointer;
}

.txt {
    position: relative;
    top: 5%;
    left: 0;
}

.txt .title {
    position: relative;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
