.modal-container {
    top:0;
    bottom: 0;
    position: absolute;
    margin-top: auto; 
    margin-bottom: auto; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 95vw;
    height: 80vh;
    background-color: rgba(241, 241, 241, 0.979);
    color: black;
    z-index: 3;
}

.title {
  padding-bottom: 3%;
  padding-top: 5%;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: left;
   margin: auto;
   height: 70vh;
   width: 90vw;
   top: 3%;
    /* Optional: Set a specific width */
   border: 1px solid #000; /* Optional: Add a border for visibility */
   overflow-y: auto; /* Enable vertical scrolling */
}

.btn {
  position: relative;
  left: 40%;
}



.mainText {
  padding-top: 3%;
}


@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
        

/* Parent background */
#F5F5FA

.btn-container .btn:hover {
    cursor: pointer;
}

.txt {
    position: relative;
    top: 5%;
    left: 0;
}

.txt .title {
    position: relative;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
